@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgba(145, 86, 141, 0.615);
  font-family: "Saira", sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
  transition: background-color 1s ease-in-out, background 1s ease-in-out;
}

/*Se a temperatura da cidade buscada estiver alta:*/
body.hot {
  background: linear-gradient(to bottom, #ff7b00, #ff0000);
}

/*Se a temperatura da cidade buscada estiver baixa:*/
body.cold {
  background: linear-gradient(to bottom, #0099ff, #0047ab);
}

/*Se o clima da cidade buscada estiver chuvoso:*/
body.rainy {
  background: linear-gradient(to bottom, #7d7d7d, #444);
}

/*Se a temperatura da cidade buscada estiver tranquilo:*/
body.mild {
  background: linear-gradient(to bottom, #c5d0d6, #91a7b2);
}

/*Estado original:*/
body.neutral {
  background-color: rgba(145, 86, 141, 0.707);
}
